<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mobileBackends</key>
	<dict>
		<key>JTI_SALES_MB</key>
		<dict>
			<key>synchronization</key>
			<dict>
				<key>maxStoreSize</key>
				<integer>1000</integer>
				<key>networkConnectionTimeout</key>
				<string>85</string>
				<key>periodicRefreshPolicy</key>
				<string>PERIODIC_REFRESH_POLICY_PERIODICALLY_REFRESH_EXPIRED_ITEMS</string>
				<key>periodicRefreshInterval</key>
				<integer>300</integer>
				<key>defaultPolicy</key>
				<dict>
					<key>fetchPolicy</key>
					<string>FETCH_FROM_CACHE</string>
					<key>updatePolicy</key>
					<string>QUEUE_IF_OFFLINE</string>
					<key>evictionPolicy</key>
					<string>MANUAL_EVICTION</string>
					<key>expirationPolicy</key>
					<string>NEVER_EXPIRE</string>
					<key>expireAfter</key>
					<string>150</string>
					<key>conflictResolutionPolicy</key>
					<string>CLIENT_WINS</string>
				</dict>
			</dict>
			<key>default</key>
			<true/>
			<key>baseURL</key>
			<string>https://jtiodcmcs-ehjz.mobileenv.us2.oraclecloud.com:443</string>
			<key>appKey</key>
			<string>f0511985-d1ad-4307-92f6-3b81e882be9f</string>
			<key>mobileBackendID</key>
			<string>d4c38e2a-b912-4202-bc34-c2289b5b1a22</string>
			<key>authorization</key>
			<dict>
				<key>Basic</key>
				<dict>
					<key>anonymousKey</key>
					<string>RUhKWl9KVElPRENNQ1NfTU9CSUxFX0FOT05ZTU9VU19BUFBJRDpsel82aXl0Y241Z2pTZg==</string>
					<key>mobileBackendID</key>
					<string>d4c38e2a-b912-4202-bc34-c2289b5b1a22</string>
				</dict>
				<key>OAuth</key>
				<dict>
					<key>tokenEndpoint</key>
					<string>https://ehjz.identity.us.oraclecloud.com/oam/oauth2/tokens</string>
					<key>clientID</key>
					<string>ff635aa2-7132-4885-aa62-9d35fab0c719</string>
					<key>clientSecret</key>
					<string>OFwXVOnnemBIIvoUAOp5</string>
					<key>mobileBackendID</key>
					<string>d4c38e2a-b912-4202-bc34-c2289b5b1a22</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>logLevel</key>
	<string>debug</string>
	<key>logHTTPRequestBody</key>
	<true/>
	<key>logHTTPResponseBody</key>
	<true/>
</dict>
</plist>
